/* Styles the MessageBody page */

.MsgContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

		.MsgBody{
		height: 70vh;
		width: 50%;
		max-width: 500px;
		min-width: 350px;
		border: 2px solid black;
		border-radius: 10px;
		background-color: white;

		display: flex;
		flex-direction: column;
		}

		.MsgBodyHeader{
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 50px;
		padding: 10px;
		}

		.MsgList{
			overflow-y: auto;
			max-height: 500px;
		}

		.MsgItem{
			height: auto;
			min-height: 40px;
			font-size: 20px;
			margin: 3px 3px;
			padding: 5px;
			border: 1px solid black;
			border-radius: 20px;
			word-wrap: break-word;
			overflow-wrap: break-word;
		}

		.sendMsgContainer{
		width: 100%;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		margin-top: auto;
		margin-bottom: 10px;

			.MsgInput{
			min-width: 200px;
			height: 30px;
			border: 2px solid black;
			border-radius: 7px;
			font-size: 1rem;
			}

			.SubBtn{
				min-width: 80px;
				height: 35px;
				border: 2px solid black;
				border-radius: 7px;
				font-size: 1rem;
			}
		}
}